/* ----------- FURNITURE STYLES ----------- */

body {
  font-family: "Mukta Vaani", sans-serif;
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-family: "Overlock", cursive;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  font-family: "Overlock", cursive;
}

h4 {
  font-size: 2rem;
  font-family: "Mukta Vaani", sans-serif;
}

.navbar {
  background-color: #051367;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-family: "Mukta Vaani", sans-serif;
}

.navbar-right-btn {
  display: flex;
  justify-content: space-around;
}

.footer {
  margin-top: 200px;
  background-color: #051367;
  color: white;
  padding: 20px;
  font-size: 1rem;
  line-height: 1rem;
  width: 100%;
  text-align: center;
  font-family: "Signika Negative", sans-serif;
}

.resources {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

.footer a {
  text-decoration: none;
  color: #afe2f7;
}

.btn-link-dark {
  background-color: #051367;
  margin: 20px;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  font-family: "Mukta Vaani", sans-serif;
}

.btn-link-light {
  background-color: #afe2f7;
  margin: 20px;
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  color: #051367;
  text-decoration: none;
  font-family: "Mukta Vaani", sans-serif;
}

.placeholder-page {
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Mukta Vaani", sans-serif;
}

.placeholder-title {
  margin-bottom: 20px;
  color: #051367;
}

.placeholder-img {
  width: 50%;
}

/* ----------- HOME PAGE STYLE ----------- */

.home-page-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #051367;
  text-align: center;
  margin: 50px;
  font-family: "Mukta Vaani", sans-serif;
}

.btn-margin {
  margin: 50px;
}

/* ----------- OBJECT LIST STYLE ----------- */

.header-obj-list {
  margin-top: 50px;
  text-align: center;
  color: #051367;
}

.my-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px auto;
  font-family: "Mukta Vaani", sans-serif;
}

@media (max-width: 430px) {
  .my-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #051367;
    background-color: #afe2f7;
    margin: 50px 5px;
    border-radius: 0.5rem;
    font-family: "Mukta Vaani", sans-serif;
  }
}

@media (min-width: 431px) {
  .my-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #051367;
    background-color: #afe2f7;
    margin: 50px;
    border-radius: 0.5rem;
    font-family: "Mukta Vaani", sans-serif;
  }
}

.my-card h5 {
  font-size: 1.5rem;
  width: 325px;
  height: 50px;
  padding: 0 15px;
  margin-top: 20px;
  text-align: center;
}

.my-card p {
  font-size: 1.2rem;
  margin-top: 30px;
}

.my-card-img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 5px solid #051367;
  margin: 15px 0;
}

.object-card-btn {
  padding: 20px 10px;
  color: white;
  margin: 20px 0 0 0;
  text-decoration: none;
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
  text-align: center;
  font-family: "Mukta Vaani", sans-serif;
}

.light-blue {
  background-color: #afe2f7;
}

.medium-blue {
  background-color: #739bf8;
}

.dark-blue {
  background-color: #051367;
}

/* ----------- SINGLE OBJECT STYLE ----------- */

@media (max-width: 1160px) {
  .obj-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Mukta Vaani", sans-serif;
  }

  .single-obj-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 50px 10px;
    border: 5px solid #051367;
    font-family: "Mukta Vaani", sans-serif;
  }

  .add-event-btn {
    margin: 50px 5px 0px 70px;
    align-self: flex-start;
    font-family: "Mukta Vaani", sans-serif;
  }
}

@media (min-width: 1161px) {
  .obj-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Mukta Vaani", sans-serif;
  }

  .single-obj-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 50px;
    border: 5px solid #051367;
    width: 70%;
    font-family: "Mukta Vaani", sans-serif;
  }

  .add-event-btn {
    margin: 50px 5px 0px 70px;
    align-self: flex-start;
    font-family: "Mukta Vaani", sans-serif;
  }
}

.obj-header img {
  margin: 20px;
}

.obj-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Mukta Vaani", sans-serif;
}

.map-img {
  width: 200px;
}

.map-img:hover {
  width: 100%;
}

.obj-table {
  border: 3px solid #051367;
  font-size: 1.2rem;
  text-align: left;
  margin: 30px;
  font-family: "Mukta Vaani", sans-serif;
  background-color: #afe2f7;
}

td {
  padding: 20px;
  font-size: 1.5rem;
}

.table-header {
  font-style: italic;
  font-weight: bold;
  font-family: "Mukta Vaani", sans-serif;
}

.comments-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px;
  font-family: "Mukta Vaani", sans-serif;
  width: 90%;
}
.comment-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin: 30px 0;
  border: 2px solid #051367;
  font-family: "Mukta Vaani", sans-serif;
  width: 90%;
  background-color: #afe2f7;
  font-size: 1rem;
}
.comment-form-section {
  width: 90%;
}
.comment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 0;
  border: 2px solid #051367;
  font-family: "Mukta Vaani", sans-serif;
  width: 100%;
  background-color: white;
  font-size: 1rem;
}

.comment-form input {
  border-radius: 10px;
  border: 1px solid gray;
  padding: 5px 10px;
  margin: 10px 20px;
  width: 75%;
  height: 90%;
}

.comment-btn {
  margin: 0px 10px 10px 0;
  background-color: #051367;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  border: none;
  align-self: flex-end;
}

.comment-title {
  font-style: italic;
  font-family: "Mukta Vaani", sans-serif;
}

/* --------- FORM STYLE ------------ */

label {
  margin: 20px;
}

.form input {
  border-radius: 10px;
  border: 2px solid #051367;
  padding: 5px 10px;
  margin: 0 20px;
  width: 80%;
}

.form select {
  border-radius: 10px;
  border: 2px solid #051367;
  padding: 5px 10px;
  margin: 0 20px;
  width: 80%;
}

.form-buttons-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 1101px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 50px;
    background-color: #739bf8;
    width: 50%;
    border-radius: 15px;
    font-family: "Mukta Vaani", sans-serif;
  }

  .form-submit-btn {
    margin: 20px;
    background-color: #051367;
    border-radius: 25px;
    color: white;
    padding: 10px 20px;
    border: none;
  }
}

@media (max-width: 1100px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #739bf8;
    width: 100%;
    border-radius: 15px;
    margin: 20px;
    font-family: "Mukta Vaani", sans-serif;
  }

  .form-submit-btn {
    margin: 20px;
    background-color: #051367;
    border-radius: 25px;
    color: white;
    padding: 5px 20px;

    border: none;
  }
}

@media (max-width: 750px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #739bf8;
    width: 100%;
    border-radius: 15px;
    margin: 20px 0;
    font-family: "Mukta Vaani", sans-serif;
  }

  .form-submit-btn {
    margin: 20px;
    /* align-self: flex-end; */
    background-color: #051367;
    border-radius: 25px;
    color: white;
    padding: 5px 20px;

    border: none;
  }
}

/* -------PROFILE STYLE -------- */

.my-profile {
  margin: 50px;
  font-family: "Mukta Vaani", sans-serif;
}
.profile-blurb {
  margin: 50px;
  text-align: center;
  font-family: "Mukta Vaani", sans-serif;
}

.profile-blurb h3 {
  margin: 30px;
}

.my-event {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  font-family: "Mukta Vaani", sans-serif;
}
.event-card {
  width: 345px;
  padding: 20px 10px;
  font-family: "Mukta Vaani", sans-serif;
}

.event-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #051367;
  font-family: "Mukta Vaani", sans-serif;
}

.title-a-tag {
  text-decoration: none;
  width: 100%;
  font-family: "Mukta Vaani", sans-serif;
}

.event-card a {
  text-decoration: none;
  font-family: "Mukta Vaani", sans-serif;
}

.event-card button {
  border: none;
  background-color: transparent;
  font-family: "Mukta Vaani", sans-serif;
}

.svg-btn {
  margin: 20px 10px 10px 10px;
}

.table-event {
  width: 90%;
}

.table-event td {
  width: 50%;
}
