.footer {
  margin-top: 200px;
  background-color: #051367;
  color: white;
  padding: 20px;
  font-size: 0.7rem;
  line-height: 1rem;
}

.signature {
  text-align: center;
}

/* ----------- OBJECT LIST STYLE ----------- */

.my-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 1500px;
}
.my-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #051367;
  background-color: #afe2f7;
  margin: 50px;
  border-radius: 0.5rem;
}

.my-card h5 {
  font-size: 1.5rem;
  width: 350px;
  height: 50px;
  padding: 0 20px;
  margin-top: 20px;
}

.my-card p {
  font-size: 1.2rem;
  margin-top: 30px;
}

.my-card-img {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  border: 5px solid #051367;
  margin: 20px 20px 40px 20px;
}

.object-card-btn {
  padding: 20px 10px;
  color: white;
  margin: 30px 0 0 0;
  text-decoration: none;
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
}

.light-blue {
  background-color: #afe2f7;
}

.medium-blue {
  background-color: #739bf8;
}

.dark-blue {
  background-color: #051367;
}

/* ----------- SINGLE OBJECT STYLE ----------- */

@media (max-width: 850px) {
  .obj-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .single-obj-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    border: 5px solid #051367;
  }
}

.obj-header {
  display: flex;
  justify-content: center;
}

.single-obj-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  border: 5px solid #051367;
}

.obj-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-img {
  margin-top: 50px;
  width: 100%;
}

table {
  border: 3px solid #051367;
  font-size: 1.2rem;
  text-align: left;
  margin: 30px;
}

td {
  padding: 20px;
}

.table-header {
  font-style: italic;
  font-weight: bold;
}

.comments-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}
.comment-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin: 30px;
  border: 1px solid #051367;
}
.comment-title {
  font-style: italic;
}


/* --------- SIGN UP/LOGIN FORM STYLE ------------ */



label{
  margin: 20px;
}

.form input {
  border-radius: 10px;
  border: 2px solid #051367;
  padding: 5px 10px;
  margin: 0 20px;
  width:80%
  

}

@media (min-width: 950px) { 
 .form {
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 50px;
  background-color: #739bf8;
  width:50%;
  border-radius:15px;

}

.form button {
  margin: 20px;
  align-self: flex-end;
  background-color: #051367;
  border-radius: 25px;
  color:white;
  padding: 10px 20px;
  width: 17%;
  border:none;
}

}


@media (max-width: 949px) {


 .form {
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #739bf8;
  width:100%;
  border-radius:15px;

}

.form button {
  margin: 20px;
  align-self: flex-end;
  background-color: #051367;
  border-radius: 25px;
  color:white;
  padding: 5px 20px;
  width: 27%;
  border: none;
}
}


/* ----ERROR PAGE STYLE---- */

.error-page{
  margin:100px;
  display:flex;
  flex-direction:column;

}


.error-page h2{
  margin-bottom: 50px;
  color: #051367 ;
}