.App {
  text-align: center;
}

.my-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 1500px;
}
.my-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #051367;
  background-color: #afe2f7;
  margin: 50px;
  border-radius: 0.5rem;
}

.my-card h5 {
  font-size: 1.5rem;
  width: 350px;
  height: 50px;
  padding: 0 20px;
  margin-top: 20px;
}

.my-card p {
  font-size: 1.2rem;
  margin-top: 30px;
}

.my-card-img {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  border: 5px solid #051367;
  margin: 20px 20px 40px 20px;
}

.object-card-btn {
  padding: 20px 10px;
  color: white;
  margin: 30px 0 0 0;
  text-decoration: none;
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
}

.light-blue {
  background-color: #afe2f7;
}

.medium-blue {
  background-color: #5d8bf4;
}

.dark-blue {
  background-color: #051367;
}
